.Header {
  background-color: #001826;
}

.Header img {
  height: 8vh;
  border: 2px solid transparent;
}

.Header img:hover {
  border: 2px solid #079ce1;
}

.HeaderText {
  color: white;
  font-family: Roboto;
}

.HeaderText:hover {
  text-decoration: underline;
  text-decoration-color: #079ce1;
  text-decoration-thickness: 3px;
}

.NavigationBar ul {
  display: flex;
  list-style: none;
  margin-left: 50px;
  padding: 0;
  gap: 1rem;
}

.NavigationBar li {
  font-family: Roboto;
  font-weight: 500;
}

.NavigationBar a {
  color: #fff;
  text-decoration: underline;
}

.NavigationBar a:hover {
  text-decoration: underline;
}

.MainContent {
  background-color: white;
  display: grid;
}

.HeroMobile {
  width: 100%;
  height: 35vh;
  margin-top: 0px;
  padding: 0;
  box-sizing: border-box;
}

.HeroDesktop {
  display: none;
}




@media screen and (max-width: 500px) {
  .Header {
    display: grid;
    grid-template-columns: 8rem;
    grid-template-rows: auto;
    align-items: center;
    justify-items: start;
    column-gap: 0rem;
    padding: 1rem;
  }

  .Header img {
    grid-column: 1 / 2;
    display:block; 
    height: 10vh;
    max-width: 10rem;
    border: 2px solid transparent;
    padding-bottom: 1rem;
  }

  .HeaderText {
    grid-column: 2 / 2;
    font-size: 1rem;
    font-weight: 650;
    white-space: nowrap;
  }

  .HeaderText br {
    display: block;
  }

  .NavigationBar ul {
    display: none;
  }

  .MainContent {
    display: grid;
    grid-template-rows: auto;
    padding: 0;
  }

  .HeroMobile {
    grid-column: 1 / -1;
    display: block;
    width: 100%;
    height: 35vh;
    object-fit: cover;
    padding: 0px;
    box-sizing: border-box;
  }

  .HeroDesktop {
    display: none;
  }

  .CTAButton {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 1rem;

    .OnsiteButton {
      order: 1;
    }
    .OnlineButton {
      order: 2;
    }
  }

  .OnsiteButton {
    background-color: #89d9e9;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 700;
    color: #001826;
    padding: 0.8rem 1.7rem;
    margin: 0.9rem;
    border: none;
    border-radius: 2px;
    border: 3px solid transparent;
  }

  .OnsiteButton:hover {
    border: 3px solid #ac47c8;
  }

  .OnlineButton {
    font-family: Roboto;
    font-size: 0.6rem;
    font-weight: 700;
    color: rgb(71, 160, 198);
    margin: 0.4rem;
    background: none;
    border: none;
    padding: 0rem;
    text-decoration: underline;
  }

  .OnlineButton:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
    text-decoration-thickness: 3px;

  }

}

@media screen and (min-width: 501px) {
  .Header {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .Header img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px solid transparent;
  }

  .HeaderText {
    grid-column: 2 / 3;
    font-size: 1.4rem;
    font-weight: 650;
    white-space: nowrap;
    padding: 0rem;
  }

  .HeaderText br {
    display: none;
  }

  .NavigationBar {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    grid-template-rows: auto auto;
    
  }

  .NavigationBar ul {
    display: grid
    list-style: none;
    margin-left: 7rem;
    gap: 3rem; 
  }

  .NavigationBar li {
    display: grid;
    grid-row: 2 / 3; 
    justify-self: center;
    align-items: center;
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 500; 
  }

  .NavigationBar a {
    color: #fff;
    text-decoration: none;
  }

  .NavigationBar a:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
    text-decoration-thickness: 2px;
  }

  .MainContent {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    grid-template-rows: auto;
    padding: 0rem;
  }

  .HeroDesktop {
    display: block;
    height: 80vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  .HeroMobile {
    display: none;
  }

  .CTAButtons {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: -2.3rem;
  }

  .OnlineButton {
    background-color: red;
    color: white;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.8rem 1.7rem;
    border-radius: 8px;
    border: 3px solid transparent;
    box-sizing: border-box;
  }

  .OnlineButton:hover {
    border: 3px solid #ac47c8;
  }

  .OnsiteButton {
    background-color: #89d9e9;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.8rem 1.7rem;
    border-radius: 8px;
    border: 3px solid transparent;
    box-sizing: border-box;
  }

  .OnsiteButton:hover {
    border: 3px solid #ac47c8;
  }
}