.Header {
    background-color: #001826;
    

}
.Header img {
  height: 15vh;
  border: 3px solid transparent;
  padding: 1rem 1rem 1rem 1rem;
}

.Header img:hover {
  border: 3px solid #079ce1;
}

.HeaderText {
  color: white;
 
}

.HeaderText:hover {
  text-decoration: underline;
  text-decoration-color: #079ce1;
  text-decoration-thickness: 3px;

}
.HeroMobile {
  width: 100%;
  height: 35vh;
  margin-top: 0px;
  padding: 0;
  box-sizing: border-box;
}

.HeroDesktop {
  display: none;
}

@media screen and (min-width: 600px) {
  .Header {
    display: grid;
    grid-template-columns: auto 27rem;
    grid-template-rows: auto 2rem;
    align-items: center;
    padding: 1rem;
  }
  .Header img {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    max-width: 8rem;
    gap: 0.1rem;
  }


  .HeaderText {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 1.1rem;
  white-space: nowrap;
}

.HeaderText br {
    display: none;
  }
}